.header-wrapper {
  position: fixed;
  background-color: white;
  top: 0px;
  width: 100%;
  padding-top: 30px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  /* 채팅창이 헤더를 덮는 현상 해결 */
  z-index: 1;
}

.chat-body {
  padding: 40px 0px;
}

.chat-body .header {
  padding: 0px 20px;
}

.chat-body {
  background-image: url("../images/spring.png");
  min-height: 200vh;
  padding-top: 100px;
}

.chat__write-container {
  /* border-radius: 40px; */
  /* background-color: #fcfcfc; */
  /* padding: 5px 20px; */
  width: 100%;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed 가운데 정렬하는 법 */
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.chat__icon-left {
  position: absolute;
  left: 15px;
}

.chat__icon-right {
  position: absolute;
  right: 15px;
}

@keyframes float {
  0% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 13px 27px -60px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  /* transition: width 0.5s ease-in; */
  /* transition: width 0.5s ease-in, border-radius 0.5s ease-in; */
  transition: all 0.5s ease-in;
}

.chat__write:focus {
  outline: none;
  height: 50%;
  width: 80%;
  padding: 15px 30px;
  border-radius: 30px;
  transform: translateY(-20px);
  /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: float 2.5s linear infinite forwards;
}

/* ~ 는 chat__write 이후 모든 자식에게 영향을 미침 */
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__icon {
  font-size: 16px;
  transition: opacity 0.5s ease-in-out;
}

.chat__write i {
  font-size: 18px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

/* .chat__write-column input {
} */

.chat .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: rgba(23, 55, 87, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
  text-transform: uppercase;
  font-weight: 700;
  animation: spin 1s linear infinite;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 70%;
  margin-bottom: 25px;
}

.message .message__content {
  padding: 1px;
}

.chat__imcoming-message {
  align-self: flex-start;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.chat__imcoming-message img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat__outgoing-message {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.message .message__timestamp {
  align-self: flex-end;
  font-size: 11px;
  padding: 0px 5px;
}

.chat__imcoming-message .message__author {
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
}

.message .message__bubble {
  background-color: white;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: rgba(23, 55, 87, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
  font-size: 14px;
}

.chat__imcoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  color: white;
}

.chat__outgoing-message .message__bubble {
  border-bottom-right-radius: 0px;
}

.chat__imcoming-message {
  /* ease-in 은 처음에 느리고, ease-out 은 나중에 느림, linear 은 1차함수 */
  animation: incomingAnim 1s linear forwards;
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat__outgoing-message {
  /* ease-in 은 처음에 느리고, ease-out 은 나중에 느림, linear 은 1차함수 */
  animation: outgoingAnim 1s linear forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes outgoingAnim {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
