.friend {
  display: flex;
  justify-content: space-between;
}

.friend .friend__avatar {
  width: 50px;
  height: 100%;
  border-radius: 40%;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .friend__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status,
.friend .friend__timestamp {
  font-size: 12px;
}
