@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600");
@import "reset.css";
@import "header.css";
@import "nav.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

* {
  /*
    box-sizing: border-box 는 패딩을 전체 주어진 width에 포함시키겠다는 소리
    이걸 없애면 네비게이션 바가 100% + 90(45*2) 가 되어 오른쪽으로 조금 넘어가버려서
    마지막 more 버튼이 보이지 않게된다.
    */

  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 40px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

main {
  animation: fadeIn 0.7s ease-in-out;
}
